host: {{ CIRCLECI_HOST }}
endpoint: graphql-unstable
token: {{ API_TOKEN }}
rest_endpoint: api/v2
tls_cert: ""
tls_insecure: false
orb_publishing:
    default_namespace: ""
    default_vcs_provider: ""
    default_owner: ""